button{
    background-color: blueviolet;
    color: rgb(101, 211, 238);
    height: 90px;
    border-radius: 20px;
    box-shadow: 20px;
}

body{
    background-color: rgb(207, 110, 234);
    text-align: center;
    padding: 300px;
}

img{
    width: 200px;
    padding: 40px;
    border-radius: 20px;
}
